@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;700&display=swap');
body{
    overflow: hidden;
}
.container_block6 {
    width: 100vw;
    height: 100vh;
    background: url(../img/Img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.title {
    position: absolute;
    top: 240px;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1.5px; 
    color: #000000;
}

.description {
    position: absolute;
    top: 340px;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center; 
    color: #000000;
    
}

.play {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bg{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 35px
}

.path{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 60px;

}

.btn-6 {
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    bottom: 20%;
}

.read{
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}